body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2b3137;
    color: #fafcfc;
    text-align: center;
    padding-top: 50px;
}

.roboto-regular {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-style: normal;
}

.title-size {
    font-size: 4rem;
    font-weight: 600;
}

.away-button {
    background-color: #cf8c06;
    color: #ffffff;
    border: none;
    padding: 20px 40px;
    border-radius: 8px;
    font-size: 32px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.away-button:hover {
    background-color: #d6af02;
    color:#ffffff ;
}
